Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.env.local
.env*.local
.vercel
.turbo
dist
build
*.map
.vscode
.idea
.DS_Store
LICENSE
.gitignore
.firebaserc
firebase.json
firestore.*
cloudbuild.yaml
vortex-arena-ai-*.json
